body {
    width: 400px;
}

header {
    border-bottom: 1px solid #F2F2F2;
    padding: 10px 0;
}

h1 {
    font-weight: bold;
}

h1 span {
    color: red;
}

.options {
    display: grid;
    grid-template-columns: auto fit-content(100%);
    gap: 20px;
    align-items: center;
    padding: 15px 0;
    border-bottom: 1px solid #F2F2F2;
}

.switch-label {
    font-size: 1.1em;
    font-weight: 500;
}

#quote {
    padding: 15px 0;
}

#quote p {
    font-size: 1em;
    font-weight: 600;
    margin: 0;
    text-align: center;
    color: #d3d3d3;
}

/* Switch */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 26px;
  }

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  input:checked + .slider {
    background-color: red;
  }

  /* input:focus + .slider {
    box-shadow: 0 0 1px red;
  } */

  input:checked + .slider:before {
    -webkit-transform: translateX(34px);
    -ms-transform: translateX(34px);
    transform: translateX(34px);
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }